#card{
    background-color: #CBCACA;
    border-color: #CBCACA;
}
.side-panel{
    background-color: #C21E1E;
}
.card-image{
    border-radius: 2rem;
}
.make-title {
    margin-top: 2rem;
    color: #CBCACA;
    font-size: 1.5rem;
  }