#main-panel{
    background-color: #C21E1E;
    color: #CBCACA;
    margin: 3rem;
    border-radius: 5rem;
    width: 100rem;
    height: 100%;
  }

.carousel{
    width: 105%;
    height: 100%;
    position: relative;
    right: 1rem;

}
.title{
    font-weight: 400;
    font-size: 3rem;
}
