#form-button-style{
    background-color: #5385B7;
}
.side-panel{
    background-color: #C21E1E;
}
.side-panel-height{
    height: 65rem;
}
.side-panel-title{
    font-weight: 600;
    color: #CBCACA;
    text-decoration: underline;
}
.form-panel-title{
    font-weight: 600;
    text-decoration: underline;
}
.form-label-font{
    font-weight: 400;
    font-size: 2rem;
}
